.avatar {
  border-radius: 50%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    transition: filter 250ms ease-in-out, scale 250ms ease-in-out;
  }

  &:hover {
    img {
      scale: 1.05;
      filter: drop-shadow(0 0 0.2rem #000000);
    }
  }
}
